<title>My application</title>
  <h1>Hello, World!</h1>
  <h1>In the first form, enter a list of integers separated by a new line character.</h1>
  <h1>In the second form, enter another one integer.</h1>
  <h1>In the third form, enter another one integer.</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="10"></textarea>
        <textarea name="input3" rows="10" cols="10"></textarea>
        <br>
        <input type="submit">
  </form>
